/* Write your CSS here */
body {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  padding: 10px;
}
.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 500;
  margin: 15px;
}

.btn {
  color: #dd1264;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border-width: 0;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.name-container {
  display: flex;
  padding: 15px;
}

.names {
  background-color: #fddddb;
  color: black;
  border-radius: 10px;
  margin: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-top: 48px;
  padding-left: 106px;
  padding-right: 106px;
  padding-bottom: 48px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  margin-left: 32px;
  margin-right: 32px;
}
